<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eddie's Portfolio</title>
<!--Booststrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--Personal CSS-->
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <!--YOU ARE ON EDUCATION PAGE!!!-->
    <!--Start of Nav Bar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" >Eddie De Leon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./mystory.html">My Story</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./favorites.html">My Favorites</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Social
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="./contact.html">Contact Me</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--End of Nav Bar-->

      <!--Education Text Start-->
      <br>
      <br>
      <br>
      <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3><strong>Education: K-12</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center grad p-3">
                <img src="../public/projectimg/grad1.jpg" alt="graduation" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>I spent my K-12 years in Edgewood ISD.</p>
                    </li>
                    <li>
                        <p>I graduated from Memorial High School in 2019.</p>
                    </li>
                    <li>
                        <p>During my high school years I played trombone in the school marching band.</p>
                    </li>
                </ul>
            </div>
        </div>
      <!--Education Text End-->

      <hr>
      <br>
      <br>
      
      <div class="container">
        <div class="row">
            <div class="col text-center band p-5">
                <h3><strong>Marching Band:</strong></h3>
                <a href="https://youtu.be/2XzIOjSKDOU" target="_blank">
                  <img src="../public/projectimg//lowbrass.jpg" alt="favfilm" width="60%"> </a>
            </div>

      <hr>
      <br>

      <!--Education Text Start-->
      <br>
      <br>
      <br>
      <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3><strong>Education: College</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center grad p-3">
                <img src="../public/projectimg/tamusa.jpg" alt="tamusa" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>I'm now attending Texas A&M University San Antonio.</p>
                    </li>
                    <li>
                        <p>I'm hoping to earn my Bachelor's in Computer Science.</p>
                    </li>
                    <li>
                        <p>I hope to graduate in Winter 2023.</p>
                    </li>
                </ul>
            </div>
        </div>
      <!--Education Text End-->


      <br>
      <br>
      <br>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>