<%- include('layouts/header.ejs')%>
      <!--Education Text Start-->
      <br>
      <br>
      <br>
      <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3><strong>Education: K-12</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center grad p-3">
                <img src="projectimg/grad1.jpg" alt="graduation" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>I spent my K-12 years in Edgewood ISD.</p>
                    </li>
                    <li>
                        <p>I graduated from Memorial High School in 2019.</p>
                    </li>
                    <li>
                        <p>During my high school years I played trombone in the school marching band.</p>
                    </li>
                </ul>
            </div>
        </div>
      <!--Education Text End-->

      <hr>
      <br>
      <br>
      
      <div class="container">
        <div class="row">
            <div class="col text-center band p-5">
                <h3><strong>Marching Band:</strong></h3>
                <a href="https://youtu.be/2XzIOjSKDOU" target="_blank">
                  <img src="projectimg//lowbrass.jpg" alt="favfilm" width="60%"> </a>
            </div>

      <hr>
      <br>

      <!--Education Text Start-->
      <br>
      <br>
      <br>
      <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3><strong>Education: College</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center grad p-3">
                <img src="projectimg/tamusa.jpg" alt="tamusa" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>I'm now attending Texas A&M University San Antonio.</p>
                    </li>
                    <li>
                        <p>I'm hoping to earn my Bachelor's in Computer Science.</p>
                    </li>
                    <li>
                        <p>I hope to graduate in Winter 2023.</p>
                    </li>
                </ul>
            </div>
        </div>
      <!--Education Text End-->


      <br>
      <br>
      <br>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>