<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eddie's Portfolio</title>
<!--Booststrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--Personal CSS-->
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <!--YOU ARE ON MY FAVORITES PAGE!!!-->
    <!--Start of Nav Bar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" >Eddie De Leon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"  href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./mystory.html">My Story</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./favorites.html">My Favorites</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Social
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="./contact.html">Contact Me</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--End of Nav Bar-->

      <br>
      <br>
      <br>
      <!--Favorite List Begins-->
      <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3><strong>Favorite Color:</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center color p-3">
                <img src="../public/projectimg/favcolor.png" alt="favcolor" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>My Favorite Color is Blue</p>
                    </li>
                    <li>
                        <p>Blue has been my favorite color since I was a boy.</p>
                    </li>
                    <li>
                        <p>Blue is also my dad's favorite color.</p>
                    </li>
                </ul>
            </div>
        </div>

        <hr>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col text-center">
                <h3><strong>Favorite Food:</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center food p-3">
                <img src="../public/projectimg/favfood.jpg" alt="favfood" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>My Favorite Food is Spaghetti</p>
                    </li>
                    <li>
                        <p>I prefer spaghetti with thin/small noodles</p>
                    </li>
                    <li>
                        <p>I hope to learn how to cook this meal someday!</p>
                    </li>
                </ul>
            </div>

            <hr>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col text-center">
                    <h3><strong>Favorite Film:</strong></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-center film p-3">
                    <a href="https://youtu.be/JNwNXF9Y6kY" target="_blank">
                    <img src="../public/projectimg/favmovie.jpg" alt="favfilm" width="60%"> </a>
                    
                    
                </div>
                <div class="col-4">
                    <br>
                    <ul>
                        <li>
                            <p>My Favorite Film is Star Wars Episode V: The Empire Strikes Back.</p>
                        </li>
                        <li>
                            <p>I first saw the film when I was 7.</p>
                        </li>
                        <li>
                            <p>My favorite character is Darth Vader.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <hr>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col text-center">
                    <h3><strong>Favorite Song:</strong></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-center song p-3">
                    <a href="https://youtu.be/aQUlA8Hcv4s" target="_blank">
                    <img src="../public/projectimg/favsong.jpg" alt="favson" width="60%"> </a>
                    <br>
                </div>
                <div class="col-4">
                    <br>
                    <ul>
                        <li>
                            <p>My Favorite Song is Mr. Blue Sky. </p>
                        </li>
                        <li>
                            <p>The song was released by Electric Light Orchestra (ELO) in 1977.</p>
                        </li>
                        <li>
                            <p>I love how upbeat and feel-good the song is.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <br>
            <br>
            <br>

            <!--Travel Carousel Begins-->
            <div class="row">
                <div class="col text-center">
                    <h3><strong>Favorite Hobby:</strong></h3>
                </div>
            </div>
            <div class="row">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../public/projectimg/hollywoodsign.jpg" class="d-block w-100" alt="Cali"
            width="60%">
            <div class="carousel-caption d-none d-md-block">
              <h5>Los Angeles (2022)</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../public/projectimg/washmon.jpg" class="d-block w-100" alt="DC"
            width=60%>
            <div class="carousel-caption d-none d-md-block">
              <h5>Washington D.C. (2019)</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../public/projectimg/disneyselfie.jpg" class="d-block w-100" alt="DisneyWorld"
            width="60%">
            <div class="carousel-caption d-none d-md-block">
              <h5>Orlando (2016)</h5>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--Travel Carousel Ends-->
                <div class="col-4">
                    <br>
                    <ul>
                        <li>
                            <p>My Favorite Hobby is Traveling</p>
                        </li>
                        <li>
                            <p>I've been to:</p>
                            <li>
                                <p>Orlando (2016 and 2018)</p>
                            </li>
                            <li>
                                <p>New Orleans (2018)</p>
                            </li>
                            <li>
                                <p>Washington D.C. (2019)</p>
                            </li>
                            <li>
                                <p>Atlanta (2021)</p>
                            </li>
                            <li>
                                <p>Los Angeles (2022)</p>
                            </li>
                        </li>
                        <li>
                            <p>I hope to someday travel to Europe!</p>
                        </li>
                    </ul>
                </div>
                <hr>
                <br>
                <br>
        </div>
      <!--Favorite List Ends-->

      <br>
      <br>
      <br>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>