<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eddie's Portfolio</title>
<!--Booststrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--Personal CSS-->
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
  <!--YOU ARE ON INDEX(HOME) PAGE!!!-->  
  <!--Start of Navbar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" >Eddie De Leon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./mystory.html">My Story</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./favorites.html">My Favorites</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Social
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="./contact.html">Contact Me</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--End of Nav Bar-->

      <!--Start of Carousel (Home Page)-->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../public/projectimg/welcome.png" class="d-block w-100" alt="Welcome"
            width="400"
            height="800">
            <div class="carousel-caption d-none d-md-block">
              <h5>Welcome</h5>
              <p>Welcome to my portfolio! Hope you enjoy! - Eddie</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../public/projectimg/ovaloffice.jpg" class="d-block w-100" alt="President Eddie"
            width="450"
            height="1600">
            <div class="carousel-caption d-none d-md-block">
              <h5>President Eddie</h5>
              <p>President Eddie hard at work.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../public/projectimg/beachselfie.jpg" class="d-block w-100" alt="Beach Selfie"
            width="450"
            height="1600">
            <div class="carousel-caption d-none d-md-block">
              <h5>Relaxing</h5>
              <p>Relaxing at the beach.</p>
            </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--End of Carousel (Home Page)-->
      <hr>
      <br>

      <!--Brief Welcome Container Beggining-->
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>Hello!</h1>
            <br>
            <p>I'd like to welcome you all to my portfolio! I hope you enjoy! Have an awesome day!</p>
          </div>
        </div>
      </div>
      <!--Brief Welcome Container Ending-->

      <hr>
      <br>

      <!--Video Beginning-->
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <video width = "420" height="600" controls>
              <source src="../public/projectvid/porgpuppet.mov" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <!--Video Ending-->
      <br>
      <br>
      <br>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>