body {
    background-color:lightslategray
}

h1, h2, h3, h4, h5, p {
    color: white;
}

hr {
    background-color:black;
    height: 10px;
}

.contactform{
    border: solid;
    border-color: crimson;
}

.video{
    border: solid;
    border-color:blueviolet;
}

.map{
    border:solid;
    border-color:crimson;
}

.song{
    border:solid;
    border-color:orange
}

.film{
    border:solid;
    border-color:orange
}

.hobby{
    border:solid;
    border-color:orange
}

.food{
    border:solid;
    border-color:orange
}

.color{
    border:solid;
    border-color:orange
}